/*stylesheet.css*/
html {
    min-height: 100%;
}
body {
    background: -webkit-linear-gradient(#e4bad3, #fff815);
    background: -o-linear-gradient(#e4bad3, #fff815);
    background: -moz-linear-gradient(#e4bad3, #fff815);
    background: linear-gradient(#e4bad3, #fff815);
    background-color: #93B874;
}
